<!DOCTYPE html>
<html lang="en">

<head>

    <!-- based on: http://www.scoopthemes.com/templates/Coming-Soon-Template/ -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Financial News Search Engine</title>

    <link rel="shortcut icon" href="img/logo.png">

    <!-- CSS -->
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- angular related styles -->
    <style type="text/css">

        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }

    </style>

</head>

<body ng-app="index" ng-controller="search">

<div id="wrapper">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">

                <h1>Financial News SE</h1>

                <!-- https://www.brainyquote.com/quotes/topics/topic_finance.html-->
                <blockquote style="border: none;">
                    <h5>
                        <i id="financialQuote">Beware of little expenses. A small leak will sink a great ship.</i>
                        <footer><cite id="quoteAuthor">Benjamin Franklin</cite></footer>
                    </h5>
                </blockquote>

                <!--ng-keypress-->
                <div class="form-group custom-form-group">
                    <input class="form-control input-lg custom-input" type="text" placeholder="Search..."
                           ng-keyup="callRestSearchService($event)"
                           ng-model="query">
                </div>

                <h6 ng-if="highlightPages.content.length > 0">Documents found:
                    <span>{{highlightPages.content.length}}</span></h6>

            </div>
        </div>

        <div class="container container-contents">

            <!--data["highlighted"]["0"]["highlights"]-->
            <div class="row result" ng-repeat="e in highlightPages.content">

                <div class="col-sm-12 col-md-12 col-lg-12">

                    <h3 ng-if="e.title.length > 0">{{e.title[0]}}</h3>

                    <h6><a href="{{e.url}}">{{e.url}}</a></h6>

                    <div class="row" ng-repeat="h in highlightPages.highlighted[$index].highlights">

                        <div class="col-sm-12 col-md-12 col-lg-12" ng-if="h.field.name == 'content'">

                            <div class="row" ng-repeat="snipplet in h.snipplets">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p ng-bind-html="renderHtml(snipplet)"></p><br>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>

<!--navbar-fixed-bottom makes the footer stick to the bottom!-->
<div class="footer navbar-fixed-bottom custom-footer" ng-if="highlightPages.length == 0">
    <p class="copyright"><i>Copyright &copy; 2016, Financial News SE</i></p>
</div>

<!-- JAVASCRIPT -->
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/controller.js"></script>
<script src="js/main.js"></script>

</body>

</html>
